In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.listdir('../data/raw/')

['healthy_subset', 'diabetes_subset']

In [7]:
df_ecg = pd.read_csv('../data/raw/diabetes_subset/001/sensor_data/2014_10_01-10_09_39/2014_10_01-10_09_39_ECG.csv')
df_glu = pd.read_csv('../data/raw/diabetes_subset/001/glucose.csv')

In [8]:
#preprocess glucose data
df_glu['Time'] = df_glu['date'].values +' '+ df_glu['time'].values
df_glu['Time'] = df_glu['Time'].values + '.000000'
df_glu['Time'] =  pd.to_datetime(df_glu['Time'], format='%Y-%m-%d %H:%M:%S.%f').dt.round('1s')
df_glu = df_glu.drop(['date','time'],axis=1)

#preprocess ECG data
df_ecg['Time'] = df_ecg['Time'].values + '000'
df_ecg['Time'] =  pd.to_datetime(df_ecg['Time'], format='%d/%m/%Y %H:%M:%S.%f').dt.round('1s')

df_ecg = pd.merge(df_ecg, df_glu, how='left', on='Time')

In [9]:
df_ecg.head(10)

                 Time  EcgWaveform  glucose type  comments
0 2014-10-01 10:09:39          297      NaN  NaN       NaN
1 2014-10-01 10:09:39          297      NaN  NaN       NaN
2 2014-10-01 10:09:39          297      NaN  NaN       NaN
3 2014-10-01 10:09:39          297      NaN  NaN       NaN
4 2014-10-01 10:09:39          297      NaN  NaN       NaN
5 2014-10-01 10:09:39          297      NaN  NaN       NaN
6 2014-10-01 10:09:39          297      NaN  NaN       NaN
7 2014-10-01 10:09:39          297      NaN  NaN       NaN
8 2014-10-01 10:09:39          297      NaN  NaN       NaN
9 2014-10-01 10:09:39          297      NaN  NaN       NaN